body{
	background-image:url("../Images/image.jpg");
	background-size:cover;
}

table {
  background-color:white;
  border-collapse: collapse;
}

.button{
	width:150px;
	height:50px;
	font-size:18px;
}



